 
  .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    a {
      display: inline-block;
      margin: 4px;
    }
    img {
      height: 40px;
    }
    @media screen and (max-width: 780px) {
      flex-direction: column;
      img {
        height: 30px;
      }
    }
  }