@import "../scss/common/index.scss";
@import "../scss/common/header.scss";
@import "../scss/common/footer.scss";
  
  .items {
    .wrapper {
      margin-top: 80px;
      display: flex;
      justify-content: center;
    }
    .container {
      display: flex;
      justify-content: center;
    }
    .item {
      width: 301px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      overflow: hidden;
      margin: 8px;
      transform: scale(0.9);
      transition: transform 0.15s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
    }
    p {
      text-align: center;
      font-size: 17px;
      color: #333;
      font-weight: 700;
      margin: 0;
      margin-top: -30px;
      padding-bottom: 10px;
    }
  }
  
  .head {
    width: 100%;
    height: 100px;
    background: linear-gradient(
        to top,
        rgba(241, 71, 3, 0.7),
        rgba(242, 72, 4, 0.6)
      ),
      url("../public/images/item1.png") center/ 301px 153px no-repeat;
  
    clip-path: polygon(100% 0, 100% 50%, 60% 50%, 50% 68%, 40% 50%, 0 50%, 0 0);
    font-size: 17px;
    color: #fff;
    text-align: center;
    padding: 14px;
    font-weight: 500;
  }
  .i2 {
    background: linear-gradient(
        to top,
        rgba(241, 71, 3, 0.7),
        rgba(242, 72, 4, 0.6)
      ),
      url("../public/images/item2.png") center/ 301px 153px no-repeat;
  }
  
  .i3 {
    background: linear-gradient(
        to top,
        rgba(241, 71, 3, 0.7),
        rgba(242, 72, 4, 0.6)
      ),
      url("../public/images/item3.png") center/ 301px 153px no-repeat;
  }
  
  .i4 {
    background: linear-gradient(
        to top,
        rgba(241, 71, 3, 0.7),
        rgba(242, 72, 4, 0.6)
      ),
      url("../public/images/item4.png") center/ 301px 153px no-repeat;
  }
  
  .i5 {
    background: linear-gradient(
        to top,
        rgba(241, 71, 3, 0.7),
        rgba(242, 72, 4, 0.6)
      ),
      url("../public/images/item5.png") center/ 301px 153px no-repeat;
  }
  
  .info {
    margin: 60px auto;
    position: relative;
    &::before {
      content: " ";
      width: 300px;
      height: 300px;
      position: absolute;
      left: 0;
      top: 0;
      background: #f1e8f7;
      transform: translate(-60%, -60%) rotate(45deg);
    }
  
    .container {
      display: flex;
      align-items: center;
      img {
        margin-left: -50px;
      }
    }
    .text {
      flex: 1;
      margin-left: 20px;
      margin-bottom: 30px;
  
      h2 {
        color: #f24704;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
      }
    }
  }
  
  .info2 {
    margin: 60px auto;
    position: relative;
    &::before {
      content: " ";
      width: 700px;
      height: 700px;
      position: absolute;
      z-index: -3;
      right: 0;
      top: 0;
      background: #7519b0;
      transform: translate(55%, -25%) rotate(45deg);
      @media (max-width: 768px){
        display: none;
      }
    }
    .container {
      display: flex;
      align-items: center;
      .img {
        position: relative;
        width: 300px;
        height: 300px;
        background: url("../public/images/dance.jpg") center / 400px no-repeat;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        box-shadow: -15px 5px 36px rgba(0, 0, 0, 0.1);
  
        &::before {
          content: " ";
          width: 100%;
          position: absolute;
          height: 100%;
          background: transparent;
          box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .text {
      flex: 1;
      margin-left: 20px;
      margin-bottom: 30px;
      padding-right: 30px;
      h2 {
        color: #f24704;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
      }
    }
  }
 
  
  @media (max-width: 992px) {
    .items {
      .container {
        display: block;
        text-align: center;
        .item {
          display: inline-block;
        }
      }
    }
  }
   
  
  @media (max-width: 576px) {
    .info::before {
      display: none;
    }
     footer{
       text-align: center;
     }
    .info2,
    .info {
      .container {
        text-align: center;
        display: block;
        & > img{
          margin: 0;
        }
        .img{
          margin: 0;
          display: inline-block;
          &::before{
            position: relative;
          }
        }
      }
    }
  }
  

